.body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #f0f4f8;
    color: #333;
    overflow: hidden;

}

header {
    background-color: #17ac09;
    display: flex;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    
}


header .navigation_bar .buttons {
    width: 100%;
}

header .navigation_bar .buttons button {
    margin-left: 5px;
    margin-right: 5px;
    height: 45px;
    border-radius: 10px;
    background-color: #058310;
    border-color: #333;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 3px 3px 5px rgba(131, 131, 131, 0.5);
    font-size: 18px;
}

header .navigation_bar .buttons button:hover {
    background-color: #034f0a;
    transform: scale(1.05);
}

main {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.tests-list {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    overflow-y: auto;
}

.current-test {
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 50px;
}

.test-item {
    background-color: #e1f5fe;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    transition: transform 0.2s;
}

.test-item:hover {
    transform: scale(1.02);
}

.create-new {
    background-color: #058310;
    color: white;
    padding: 10px 20px;
    border-color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-new:hover {
    background-color: #034f0a;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.filter {
    margin-bottom: 20px;
}